.resistance-band-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

// .resistance-band-item {
//   margin-top: 50px;
//   padding: 3%;
//   box-sizing: border-box;
// }

.resistance-band-item {
  margin: 25px;
  padding: 3%;
  box-sizing: border-box;
  background-color: #ffffff; /* Add background color to create round corners */
  border-radius: 40px; /* Round corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.resistance-band-image {
  margin-top: -40px;
  width: 200px;
  height: auto;
}

.resistance-band-image:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
  margin-top: -50px;
  margin-bottom: 10px;
}

@media (min-width: 630px) {
  .resistance-band-image {
    width: 250px;
  }
}

@media (min-width: 745px) {
  .resistance-band-image {
    width: 300px;
  }
}

@media (min-width: 890px) {
  .resistance-band-image {
    width: 360px;
  }
}

@media (min-width: 1090px) {
  .resistance-band-image {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .resistance-band-image {
    width: 310px;
  }
}

@media (min-width: 1630px) {
  .resistance-band-image {
    width: 172px;
  }
}

.product {
  transition: 0.1s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product .description {
  text-align: center;
}

.product img {
    object-fit: cover; /* Add this line to make the image cover the container */
}

// .product:hover {
//   transition: 0.3s ease-in;
//   cursor: pointer;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
//   margin-top: -10px;
//   margin-bottom: 10px;
// }

.add-to-cart-button {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 15px;
  border-radius: 15px;
  color: black;
}

.add-to-cart-button:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}