.product {
  transition: 0.1s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  color: black;
}

.product img {
  object-fit: cover;
}

.add-to-cart-button {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 15px;
  color: black;
  border-radius: 15px;
}

.add-to-cart-button:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
  border: 2px solid rgb(19, 19, 19);
}