.centered-topbar {
  margin-left: 24%;
  margin-top: 15px;
  margin-bottom: 15px;
}

// .title-components {
//   margin-left: 5px;
//   margin-right: 5px;
// }

.resistance-band-title {
  margin-left: -100px;
  margin-right: 500px;
}