.centered-topbar {
  margin-left: 24%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.resistance-band-logo-image {
  width: 150px;
  height: auto;
  margin-right: 100px;
  margin-left: -100px;
  border-radius: 10px;
}

.resistance-band-title {
  margin-left: -100px;
  margin-right: 300px;
}
