.centered-topbar {
  margin-left: 3%; 
  margin-top: 15px;
  margin-bottom: 15px;
}

.resistance-band-logo-image {
  width: 150px;
  height: auto;
  margin-right: 10%;
  margin-left: 27%;
}

.resistance-band-title {
  margin-left: -100px;
  margin-right: 40%;
  font-size: xx-large;
}

.title-components {
  margin-right: 20px;
}